.card4{
    width: 435px;
height: 793.58px;
margin-top: .19px;
margin-left: 986px;
gap: 0px;
opacity: 0px;
background-color: #ffffff;
border: 1px solid #DBE0E5;
box-shadow: 0px 8px 24px 0px #1B2E5E14;


}